.fp{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.fpItem{
    gap: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.fpImage{
    width: 100%;
}

.fpName{
    font-weight: bold;
}

.fpCity{
    font-weight: 300;
}

.fpPrice{
    font-weight: 600;
}

.fpRating > button{
    background-color: #003580;
    color: wheat;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}

.fpRating > span{
    font-size: 14px;
}