.header{
    background-color: #003580;
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerContainer.listMode{
    margin: 20px 0px 0px 0px;
}

.headerList{
    display: flex;
    gap: 35px;
    margin-bottom: 20px;
}

.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active{
    border: 1px solid white;
    padding: 7px;
    border-radius: 20px;
}

.headerDesc{
    margin: 20px 0px;
}

.headerBtn{
    background-color: #0071c2;
    color: white;
    border: none;
    padding: 5px;
    font-size: 600;
    cursor: pointer;
}

.headerSearch{
    height: 30px;
    background-color: white;
    border: 1.5px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -20px;
    width: 100%;
    max-width: 1024px;
}

.headerIcon{
    color: darkgray;
}

.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 5px;
}

.headerSearchInput{
    border: none;
    outline: none;
}

.headerSearchText{
    color: lightgray;
}

.date{
    position: absolute;
    top: 40px;
    z-index: 2;
}

.options{
    border: .5px solid rgba(0, 0, 0, 0.114);
    position: absolute;
    top: 40px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0 .4);
    z-index: 2;
}

.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.optionCountBtn{
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
}

.optionCountBtn:disabled{
    cursor: not-allowed;
}