.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.nav-container{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
}

.nav-button{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    color: #003580;
}
.nav-button:hover{
    background-color:  #0071c2;
    color: white;
}