.pList{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
 
}

.plistItem{
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    flex: 1;
    text-transform: capitalize;
}

.plistImg{
    width: 90%;
    object-fit: cover;
    height: 140px;
    flex: 1;
}

.plistTitles > h1{
    font-size: 18px;
}

.plistTitles > h2{
    font-size: 14px;
    font-weight: 300;
}